<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smarty.civis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CivisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth"
                    android:path="/callback"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity"/>
        <activity android:name=".activities.ProfileActivity" />
        <activity
            android:name=".activities.AddActivity"
            android:label="@string/add_screen_activity_title" />
        <activity
            android:name=".activities.DetailsActivity"
            android:label="@string/title_activity_details" />

        <provider
            android:name=".data.CivisProvider"
            android:authorities="com.smarty.civis"
            android:exported="false" />

        <activity
            android:name=".activities.LoadingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".data.TaskUpdateService"
            android:exported="false" />
    </application>

</manifest>